[submodule "tools/pldoh"]
	path = tools/pldoh
	url = https://github.com/fcecin/pldoh
[submodule "tools/reference-contracts"]
	path = tools/reference-contracts
	url = https://github.com/antelopeio/reference-contracts
[submodule "tools/doh-contracts"]
	path = tools/doh-contracts
	url = https://github.com/cryptomechanics/doh-contracts
[submodule "tools/JSON-Tiny"]
	path = tools/JSON-Tiny
	url = https://github.com/daoswald/JSON-Tiny
